* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(150deg, #25002b 0%, #401548 35%, #e96fff 100%);
}